.scrolling-example{
    height: 400px;
    width: 400px;
    border: 1px solid gray;
}

.item{
    padding: 25px;
    background: lightcoral;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
}

.box{
    border: 1px solid pink;
    padding: 20px;
    width: 200px;
    background: lightblue;
    margin-bottom: 5px;
}